<li id="{{budget-id}}-tab-li" role="presentation" class="{{budget-first-tab}} {{#if budget-heart}}onLogoffSetActive{{else}}onLogoffRemoveActive{{/if}}">
  <a id="{{budget-id}}-tab" href="#{{budget-id}}-panel" aria-controls="{{budget-id}}-panel" role="tab" data-toggle="tab">
    {{#if budget-heart}}<span class="glyphicon glyphicon-heart text-danger" aria-hidden="true"></span>{{/if}}
    <span class="budget-{{budget-id}}-name">{{budget-name}}</span>
    <span class="visible-xs-inline visible-sm-block visible-md-inline visible-lg-inline badge-wrapper">
      <span class="badge {{budget-id}}-transactions-sum onLogoffClearContent onEmptyHide"></span>
    </span>
  </a>
</li>
